.box1{
    background-color: #ffb6c1;
    height: 120px;
    width: 100%;
    justify-content:space-around
}
.box2{
    background-color: #ffb6c1;
    height: 60px

}

.redes{
    font-size: 40px !important;
    color: white !important;
    
}
.textos{
    color: white !important;

}


.text-decorator-none{
    text-decoration:none;
}