
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Taprom&display=swap');

.caixa{
    background-color:#fdcad2 ;

}
.titulo{
    color: white!important;    
    font-family: 'Roboto', sans-serif !important;
    

}

.botao{
    border-color: white !important;
    background-color: #fcb8c2 !important;
    color: white !important;
    border-radius: 15px!important;
}
.fotoHome {
    width: max(350px, 65%);
    margin: 0 auto;
    display: block;
    
  }
.postagens{
    background-color: white !important;
}