
.caixa{
    background-color:#fdcad2 ;

}
.titulo{
    color: white!important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #fcb8c2 !important;
    color: white !important;
    border-radius: 15px!important;
}
.fotoHome {
    width: max(350px, 65%);
    margin: 0 auto;
    display: block;
    
  }
.postagens{
    background-color: white !important;
}